Repository arthurfantaci/requirements-graphrag-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, validate-docs-placement

ruff-check:
  name: ruff check
  entry: bash -c 'cd backend && uv run ruff check --fix "$@"' --
  language: system
  pass_filenames: false

ruff-format:
  name: ruff format
  entry: bash -c 'cd backend && uv run ruff format' --
  language: system
  pass_filenames: false

validate-docs-placement:
  name: validate docs placement
  entry: .claude/hooks/validate-docs-placement.sh
  language: script
  pass_filenames: false

fix: show inline warning when feedback submitted without run_id (#136)
  frontend/src/components/feedback/ResponseActions.jsx
Due: none

refactor: dead code purge — backend source files (#153)
  backend/src/requirements_graphrag_api/auth/__init__.py
  backend/src/requirements_graphrag_api/auth/scopes.py
  backend/src/requirements_graphrag_api/core/agentic/__init__.py
  backend/src/requirements_graphrag_api/core/agentic/state.py
  backend/src/requirements_graphrag_api/evaluation/__init__.py
  backend/src/requirements_graphrag_api/evaluation/agentic_evaluators.py
  backend/src/requirements_graphrag_api/evaluation/domain_metrics.py
  backend/src/requirements_graphrag_api/evaluation/performance.py
  backend/src/requirements_graphrag_api/exceptions.py
  backend/src/requirements_graphrag_api/guardrails/output_filter.py
  backend/src/requirements_graphrag_api/guardrails/pii_detection.py
  backend/src/requirements_graphrag_api/middleware/rate_limit.py
  backend/src/requirements_graphrag_api/prompts/definitions.py
  backend/tests/test_evaluation/test_agentic_evaluators.py
  backend/tests/test_evaluation/test_evaluate_pipeline.py
  backend/tests/test_evaluation/test_performance.py
  backend/tests/test_guardrails/test_rate_limiting.py
Due: ruff-check, ruff-format

refactor: dead code purge — scripts, tests, frontend (#154)
  .gitignore
  backend/scripts/ci_evaluation.py
  backend/scripts/create_agentic_dataset.py
  backend/scripts/generate_benchmark_dataset.py
  backend/scripts/run_agentic_evaluation.py
  backend/scripts/run_evaluation.py
  backend/tests/benchmark/generator.py
  backend/tests/test_evaluation/__init__.py
  backend/tests/test_prompts/__init__.py
  frontend/src/components/chat/SourceCitationRenderer.jsx
  frontend/src/components/metadata/index.js
  frontend/src/hooks/useSSEChat.js
  frontend/src/index.css
Due: ruff-check, ruff-format

feat: hub-first prompt infrastructure (#155)
  .github/workflows/sync-prompts.yml
  backend/pyproject.toml
  backend/scripts/run_ragas_evaluation.py
  backend/src/requirements_graphrag_api/core/agentic/subgraphs/rag.py
  backend/src/requirements_graphrag_api/core/agentic/subgraphs/research.py
  backend/src/requirements_graphrag_api/core/agentic/subgraphs/synthesis.py
  backend/src/requirements_graphrag_api/core/conversation.py
  backend/src/requirements_graphrag_api/core/routing.py
  backend/src/requirements_graphrag_api/core/text2cypher.py
  backend/src/requirements_graphrag_api/prompts/__init__.py
  backend/src/requirements_graphrag_api/prompts/catalog.py
  backend/src/requirements_graphrag_api/prompts/definitions.py
  backend/src/requirements_graphrag_api/routes/chat.py
  backend/tests/test_core/test_agentic/test_subgraphs.py
  backend/tests/test_core/test_cost_tracker_wiring.py
  backend/tests/test_core/test_routing.py
  backend/tests/test_routes/test_chat.py
  backend/uv.lock
Due: ruff-check, ruff-format

refactor: evaluation pipeline convergence — Model A only (#156)
  backend/scripts/ci_evaluation.py
  backend/scripts/run_ragas_evaluation.py
  backend/src/requirements_graphrag_api/evaluation/__init__.py
  backend/src/requirements_graphrag_api/evaluation/metrics.py
  backend/src/requirements_graphrag_api/evaluation/ragas_evaluators.py
  backend/src/requirements_graphrag_api/prompts/definitions.py
  backend/tests/test_evaluation/test_ragas_evaluators.py
Due: ruff-check, ruff-format

refactor: async Neo4j + parallel enrichment queries (#157)
  backend/src/requirements_graphrag_api/core/definitions.py
  backend/src/requirements_graphrag_api/core/retrieval.py
  backend/src/requirements_graphrag_api/core/standards.py
  backend/src/requirements_graphrag_api/core/text2cypher.py
  backend/src/requirements_graphrag_api/routes/health.py
  backend/src/requirements_graphrag_api/routes/schema.py
Due: ruff-check, ruff-format

refactor: remove grade_documents, hoist LLM factory, drop StrOutputParser (#158)
  backend/src/requirements_graphrag_api/core/agentic/orchestrator.py
  backend/src/requirements_graphrag_api/core/agentic/state.py
  backend/src/requirements_graphrag_api/core/agentic/subgraphs/rag.py
  backend/src/requirements_graphrag_api/core/agentic/subgraphs/research.py
  backend/src/requirements_graphrag_api/core/agentic/subgraphs/synthesis.py
  backend/src/requirements_graphrag_api/routes/chat.py
  backend/tests/test_core/test_agentic/test_subgraphs.py
  backend/tests/test_routes/test_chat.py
Due: ruff-check, ruff-format

refactor: split chat.py monolith, remove glossary aliases (#159)
  backend/src/requirements_graphrag_api/routes/chat.py
  backend/src/requirements_graphrag_api/routes/definitions.py
  backend/src/requirements_graphrag_api/routes/handlers.py
  backend/tests/test_routes/test_chat.py
Due: ruff-check, ruff-format

refactor: split chat.py monolith, remove glossary aliases (#159) (#168)
  backend/src/requirements_graphrag_api/routes/chat.py
  backend/src/requirements_graphrag_api/routes/definitions.py
  backend/src/requirements_graphrag_api/routes/handlers.py
  backend/tests/test_routes/test_chat.py
Due: ruff-check, ruff-format

refactor: CI cleanup — delete sync-prompts, fix eval comment (#160)
  .github/workflows/evaluation.yml
  .github/workflows/sync-prompts.yml
  backend/pyproject.toml
  backend/scripts/push_prompts.py
Due: ruff-check, ruff-format

refactor: CI cleanup — delete sync-prompts, fix eval comment (#160) (#169)
  .github/workflows/evaluation.yml
  .github/workflows/sync-prompts.yml
  backend/pyproject.toml
  backend/scripts/push_prompts.py
Due: ruff-check, ruff-format

refactor: frontend quality — accessibility, crypto UUID, dep cleanup (#161)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/chat/ChatInput.jsx
  frontend/src/components/feedback/FeedbackModal.jsx
  frontend/src/hooks/useSSEChat.js
Due: none

refactor: frontend quality — accessibility, crypto UUID, dep cleanup (#161) (#170)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/chat/ChatInput.jsx
  frontend/src/components/feedback/FeedbackModal.jsx
  frontend/src/hooks/useSSEChat.js
Due: none

fix: show inline warning when feedback submitted without run_id (#136) (#152)
  frontend/src/components/feedback/ResponseActions.jsx
Due: none

chore: add PR closing-keyword hook and pr-workflow skill
  .claude/hooks/check-pr-closing-keyword.sh
  .claude/settings.json
  .claude/skills/pr-workflow/skill.md
Due: none

chore: add PR closing-keyword hook and pr-workflow skill (#171)
  .claude/hooks/check-pr-closing-keyword.sh
  .claude/settings.json
  .claude/skills/pr-workflow/skill.md
Due: none

refactor: remove run_research node and overhaul RAGAS evaluation pipeline
  backend/scripts/ci_evaluation.py
  backend/scripts/create_golden_dataset.py
  backend/scripts/run_ragas_evaluation.py
  backend/src/requirements_graphrag_api/core/__init__.py
  backend/src/requirements_graphrag_api/core/agentic/__init__.py
  backend/src/requirements_graphrag_api/core/agentic/orchestrator.py
  backend/src/requirements_graphrag_api/core/agentic/state.py
  backend/src/requirements_graphrag_api/core/agentic/streaming.py
  backend/src/requirements_graphrag_api/core/agentic/subgraphs/__init__.py
  backend/src/requirements_graphrag_api/core/agentic/subgraphs/research.py
  backend/src/requirements_graphrag_api/core/agentic/subgraphs/synthesis.py
  backend/src/requirements_graphrag_api/core/context.py
  backend/src/requirements_graphrag_api/evaluation/ragas_evaluators.py
  backend/src/requirements_graphrag_api/prompts/definitions.py
  backend/tests/test_core/test_agentic/test_integration.py
  backend/tests/test_core/test_agentic/test_orchestrator.py
  backend/tests/test_core/test_agentic/test_subgraphs.py
  backend/tests/test_core/test_context.py
  backend/tests/test_core/test_cost_tracker_wiring.py
  backend/tests/test_evaluation/test_ragas_evaluators.py
Due: ruff-check, ruff-format

refactor: remove run_research node and overhaul RAGAS evaluation pipeline (#173)
  backend/scripts/ci_evaluation.py
  backend/scripts/create_golden_dataset.py
  backend/scripts/run_ragas_evaluation.py
  backend/src/requirements_graphrag_api/core/__init__.py
  backend/src/requirements_graphrag_api/core/agentic/__init__.py
  backend/src/requirements_graphrag_api/core/agentic/orchestrator.py
  backend/src/requirements_graphrag_api/core/agentic/state.py
  backend/src/requirements_graphrag_api/core/agentic/streaming.py
  backend/src/requirements_graphrag_api/core/agentic/subgraphs/__init__.py
  backend/src/requirements_graphrag_api/core/agentic/subgraphs/research.py
  backend/src/requirements_graphrag_api/core/agentic/subgraphs/synthesis.py
  backend/src/requirements_graphrag_api/core/context.py
  backend/src/requirements_graphrag_api/evaluation/ragas_evaluators.py
  backend/src/requirements_graphrag_api/prompts/definitions.py
  backend/tests/test_core/test_agentic/test_integration.py
  backend/tests/test_core/test_agentic/test_orchestrator.py
  backend/tests/test_core/test_agentic/test_subgraphs.py
  backend/tests/test_core/test_context.py
  backend/tests/test_core/test_cost_tracker_wiring.py
  backend/tests/test_evaluation/test_ragas_evaluators.py
Due: ruff-check, ruff-format

feat: add Vercel Analytics, Speed Insights, and security headers (#174)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/vercel.json
Due: none

feat: add Vercel Analytics, Speed Insights, and security headers (#174) (#175)
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/vercel.json
Due: none

feat: add Sentry full-stack error tracking and distributed tracing (#176)
  backend/pyproject.toml
  backend/src/requirements_graphrag_api/api.py
  backend/src/requirements_graphrag_api/observability.py
  backend/uv.lock
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/main.jsx
  frontend/vite.config.js
Due: ruff-check, ruff-format

feat: add Sentry full-stack error tracking and distributed tracing (#176) (#177)
  backend/pyproject.toml
  backend/src/requirements_graphrag_api/api.py
  backend/src/requirements_graphrag_api/observability.py
  backend/uv.lock
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/main.jsx
  frontend/vite.config.js
Due: ruff-check, ruff-format

feat: add custom useSSEMetrics hook for SSE streaming observability (#178)
  frontend/src/hooks/useSSEChat.js
  frontend/src/hooks/useSSEMetrics.js
Due: none

feat: add custom useSSEMetrics hook for SSE streaming observability (#178) (#179)
  frontend/src/hooks/useSSEChat.js
  frontend/src/hooks/useSSEMetrics.js
Due: none

feat: add Lighthouse CI for performance and accessibility gating (#180)
  .github/workflows/lighthouse.yml
  lighthouserc.js
Due: none

feat: add Lighthouse CI for performance and accessibility gating (#180) (#181)
  .github/workflows/lighthouse.yml
  lighthouserc.js
Due: none

feat: add OpenTelemetry backend instrumentation with LangSmith OTLP export (#182)
  backend/pyproject.toml
  backend/src/requirements_graphrag_api/api.py
  backend/src/requirements_graphrag_api/observability.py
  backend/uv.lock
Due: ruff-check, ruff-format

feat: add OpenTelemetry backend instrumentation with LangSmith OTLP export (#182) (#183)
  backend/pyproject.toml
  backend/src/requirements_graphrag_api/api.py
  backend/src/requirements_graphrag_api/observability.py
  backend/uv.lock
Due: ruff-check, ruff-format

fix: lower Neo4j liveness check timeout to prevent defunct connection errors
  backend/.env.example
  backend/src/requirements_graphrag_api/config.py
Due: ruff-check, ruff-format

refactor: implement Hub-First golden dataset aligned with prompt catalog pattern
  backend/scripts/ci_evaluation.py
  backend/scripts/compare_experiments.py
  backend/scripts/create_golden_dataset.py
  backend/scripts/run_ragas_evaluation.py
  backend/scripts/update_datasets.py
  backend/src/requirements_graphrag_api/evaluation/__init__.py
  backend/src/requirements_graphrag_api/evaluation/golden_dataset.py
  backend/tests/benchmark/golden_dataset.py
Due: ruff-check, ruff-format

fix: Neo4j defunct connections + Hub-First golden dataset (#185)
  backend/.env.example
  backend/scripts/ci_evaluation.py
  backend/scripts/compare_experiments.py
  backend/scripts/create_golden_dataset.py
  backend/scripts/run_ragas_evaluation.py
  backend/scripts/update_datasets.py
  backend/src/requirements_graphrag_api/config.py
  backend/src/requirements_graphrag_api/evaluation/__init__.py
  backend/src/requirements_graphrag_api/evaluation/golden_dataset.py
  backend/tests/benchmark/golden_dataset.py
Due: ruff-check, ruff-format

refactor: remove RAG_GENERATION, update SYNTHESIS v2.0, TEXT2CYPHER v2.0, CONVERSATIONAL v1.1
  backend/src/requirements_graphrag_api/prompts/definitions.py
Due: ruff-check, ruff-format

refactor: companion fixes for prompt catalog overhaul
  backend/scripts/ci_evaluation.py
  backend/scripts/run_prompt_comparison.py
  backend/scripts/run_ragas_evaluation.py
  backend/src/requirements_graphrag_api/core/agentic/subgraphs/synthesis.py
  backend/src/requirements_graphrag_api/core/definitions.py
  backend/src/requirements_graphrag_api/core/text2cypher.py
  backend/tests/test_core/test_conversation.py
Due: ruff-check, ruff-format

feat: Phase 1 — Prompt Hub seeding with :production/:staging tags
  .github/workflows/prompt-sync-check.yml
  backend/scripts/check_prompt_sync.py
  backend/scripts/sync_prompts_to_hub.py
  backend/src/requirements_graphrag_api/prompts/catalog.py
Due: ruff-check, ruff-format

chore: delete 3 orphaned Hub prompts + update plan status
  docs/plans/unified-implementation-plan.md
Due: validate-docs-placement

feat: Phase 2 — 3-vector datasets, evaluators, and unified runner
  backend/scripts/add_golden_example.py
  backend/scripts/create_golden_dataset.py
  backend/scripts/import_feedback.py
  backend/scripts/migrate_golden_datasets.py
  backend/scripts/run_vector_evaluation.py
  backend/src/requirements_graphrag_api/evaluation/__init__.py
  backend/src/requirements_graphrag_api/evaluation/constants.py
  backend/src/requirements_graphrag_api/evaluation/conversational_evaluators.py
  backend/src/requirements_graphrag_api/evaluation/golden_dataset.py
  backend/src/requirements_graphrag_api/evaluation/regression.py
  backend/src/requirements_graphrag_api/evaluation/structured_evaluators.py
  backend/src/requirements_graphrag_api/prompts/catalog.py
  backend/src/requirements_graphrag_api/prompts/definitions.py
  backend/src/requirements_graphrag_api/prompts/evaluation.py
Due: ruff-check, ruff-format

feat: Phase 3 — trace enrichment + frontend correlation
  backend/src/requirements_graphrag_api/api.py
  backend/src/requirements_graphrag_api/core/agentic/streaming.py
  backend/src/requirements_graphrag_api/core/conversation.py
  backend/src/requirements_graphrag_api/middleware/__init__.py
  backend/src/requirements_graphrag_api/middleware/tracing.py
  backend/src/requirements_graphrag_api/routes/chat.py
  backend/src/requirements_graphrag_api/routes/handlers.py
  frontend/src/components/chat/AssistantMessage.jsx
  frontend/src/components/feedback/ResponseActions.jsx
  frontend/src/hooks/useSSEChat.js
  frontend/src/hooks/useSSEMetrics.js
Due: ruff-check, ruff-format

feat: Phase 4 — per-vector CI evaluation with tiered regression gating
  .github/workflows/ci.yml
  .github/workflows/evaluation.yml
  backend/scripts/ci_evaluation.py
  backend/scripts/compare_experiments.py
Due: ruff-check, ruff-format

feat: Phase 5 — annotation queues, online Cypher evaluation, rubric scores
  backend/scripts/export_for_annotation.py
  backend/scripts/import_feedback.py
  backend/scripts/online_eval_cypher.py
  backend/src/requirements_graphrag_api/evaluation/__init__.py
  backend/src/requirements_graphrag_api/evaluation/constants.py
  backend/src/requirements_graphrag_api/routes/feedback.py
  backend/tests/test_routes/test_feedback.py
Due: ruff-check, ruff-format

Path conditions:
  ruff-check: any of: ^backend/ and \.py$
  ruff-format: any of: ^backend/ and \.py$
  validate-docs-placement: any of: ^docs/.*\.md$, but not: ^docs/internal/
