Repository arthurfantaci/requirements-graphrag-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, validate-docs-placement

ruff-check:
  name: ruff check
  entry: bash -c 'cd backend && uv run ruff check --fix "$@"' --
  language: system
  pass_filenames: false

ruff-format:
  name: ruff format
  entry: bash -c 'cd backend && uv run ruff format' --
  language: system
  pass_filenames: false

validate-docs-placement:
  name: validate docs placement
  entry: .claude/hooks/validate-docs-placement.sh
  language: script
  pass_filenames: false

feat: Phase 6 — monitoring, intent-specific rubric UI, Sentry replay correlation
  backend/scripts/quality_check.py
  frontend/src/components/chat/AssistantMessage.jsx
  frontend/src/components/feedback/FeedbackModal.jsx
  frontend/src/components/feedback/ResponseActions.jsx
  frontend/src/hooks/useSSEMetrics.js
Due: ruff-check, ruff-format

docs: add LangSmith UI configuration guides and user manual
  docs/guides/langsmith-getting-started.md
  docs/guides/langsmith-ui-setup.md
  docs/guides/langsmith-user-manual.md
Due: validate-docs-placement

fix: correct LangSmith project name defaults and workspace context
  backend/scripts/online_eval_cypher.py
  backend/scripts/quality_check.py
  docs/guides/langsmith-getting-started.md
  docs/guides/langsmith-ui-setup.md
  docs/guides/langsmith-user-manual.md
Due: ruff-check, ruff-format, validate-docs-placement

fix: add intent metadata to structured and explanatory handlers
  backend/src/requirements_graphrag_api/routes/feedback.py
  backend/src/requirements_graphrag_api/routes/handlers.py
Due: ruff-check, ruff-format

fix(phase-a): intent metadata for all handlers, project name defaults, trace_id field
  backend/scripts/export_for_annotation.py
  backend/scripts/import_feedback.py
  backend/scripts/online_eval_cypher.py
  backend/scripts/quality_check.py
  backend/src/requirements_graphrag_api/routes/feedback.py
  backend/src/requirements_graphrag_api/routes/handlers.py
Due: ruff-check, ruff-format

docs(phase-a): add LangSmith UI configuration guides and user manual
  docs/guides/langsmith-getting-started.md
  docs/guides/langsmith-ui-setup.md
  docs/guides/langsmith-user-manual.md
Due: validate-docs-placement

feat: LangSmith Alignment — close deployment gaps and configure platform (#193)
  backend/scripts/export_for_annotation.py
  backend/scripts/import_feedback.py
  backend/scripts/online_eval_cypher.py
  backend/scripts/quality_check.py
  backend/src/requirements_graphrag_api/routes/feedback.py
  backend/src/requirements_graphrag_api/routes/handlers.py
  docs/guides/langsmith-getting-started.md
  docs/guides/langsmith-ui-setup.md
  docs/guides/langsmith-user-manual.md
Due: ruff-check, ruff-format, validate-docs-placement

fix: PII false positives on domain terms + add online evaluator test script
  backend/scripts/test_online_evaluators.py
  backend/src/requirements_graphrag_api/guardrails/pii_detection.py
  backend/tests/test_guardrails/test_pii_detection.py
Due: ruff-check, ruff-format

fix: patch trace inputs/outputs for structured/conversational evaluators
  backend/src/requirements_graphrag_api/observability.py
  backend/src/requirements_graphrag_api/routes/handlers.py
  backend/tests/test_observability.py
Due: ruff-check, ruff-format

fix: Patch trace inputs/outputs for structured/conversational evaluators (#195)
  backend/scripts/test_online_evaluators.py
  backend/src/requirements_graphrag_api/guardrails/pii_detection.py
  backend/src/requirements_graphrag_api/observability.py
  backend/src/requirements_graphrag_api/routes/handlers.py
  backend/tests/test_guardrails/test_pii_detection.py
  backend/tests/test_observability.py
Due: ruff-check, ruff-format

fix: use two-phase create_run/update_run for evaluator traces
  backend/src/requirements_graphrag_api/observability.py
  backend/src/requirements_graphrag_api/routes/handlers.py
  backend/tests/test_observability.py
Due: ruff-check, ruff-format

fix: use two-phase create_run/update_run for evaluator traces (#196)
  backend/src/requirements_graphrag_api/observability.py
  backend/src/requirements_graphrag_api/routes/handlers.py
  backend/tests/test_observability.py
Due: ruff-check, ruff-format

chore: add docs/plans/ to .gitignore
  .gitignore
Due: none

docs: update backend docstrings and type hints for accuracy
  backend/src/requirements_graphrag_api/config.py
  backend/src/requirements_graphrag_api/core/retrieval.py
  backend/src/requirements_graphrag_api/core/routing.py
  backend/src/requirements_graphrag_api/core/text2cypher.py
  backend/src/requirements_graphrag_api/routes/chat.py
Due: ruff-check, ruff-format

fix: exempt /chat/routing-guide from auth and add Swagger security scheme
  backend/src/requirements_graphrag_api/api.py
  backend/src/requirements_graphrag_api/auth/__init__.py
  backend/src/requirements_graphrag_api/auth/api_key.py
  backend/src/requirements_graphrag_api/auth/middleware.py
  backend/src/requirements_graphrag_api/routes/chat.py
Due: ruff-check, ruff-format

feat: migrate to Voyage AI embeddings and align config with sister project
  .env.example
  .gitattributes
  .github/workflows/ci.yml
  .github/workflows/evaluation.yml
  .vscode/settings.json
  README.md
  backend/.env.example
  backend/pyproject.toml
  backend/scripts/test_online_evaluators.py
  backend/src/requirements_graphrag_api/config.py
  backend/src/requirements_graphrag_api/core/embeddings.py
  backend/src/requirements_graphrag_api/core/retrieval.py
  backend/src/requirements_graphrag_api/evaluation/cost_analysis.py
  backend/src/requirements_graphrag_api/evaluation/ragas_evaluators.py
  backend/test_query.py
  backend/tests/conftest.py
  backend/tests/test_config.py
  backend/tests/test_core/test_cost_tracker_wiring.py
  backend/tests/test_core/test_retrieval.py
  backend/tests/test_evaluation/test_ragas_evaluators.py
  backend/uv.lock
  docker-compose.yml
Due: ruff-check, ruff-format

feat: migrate to Voyage AI embeddings and align config with sister project (#205)
  .env.example
  .gitattributes
  .github/workflows/ci.yml
  .github/workflows/evaluation.yml
  .vscode/settings.json
  README.md
  backend/.env.example
  backend/pyproject.toml
  backend/scripts/test_online_evaluators.py
  backend/src/requirements_graphrag_api/config.py
  backend/src/requirements_graphrag_api/core/embeddings.py
  backend/src/requirements_graphrag_api/core/retrieval.py
  backend/src/requirements_graphrag_api/evaluation/cost_analysis.py
  backend/src/requirements_graphrag_api/evaluation/ragas_evaluators.py
  backend/test_query.py
  backend/tests/conftest.py
  backend/tests/test_config.py
  backend/tests/test_core/test_cost_tracker_wiring.py
  backend/tests/test_core/test_retrieval.py
  backend/tests/test_evaluation/test_ragas_evaluators.py
  backend/uv.lock
  docker-compose.yml
Due: ruff-check, ruff-format

fix: refresh schema constants for post-dedup graph and classify Community as internal (#207)
  backend/src/requirements_graphrag_api/evaluation/__init__.py
  backend/src/requirements_graphrag_api/evaluation/constants.py
  backend/src/requirements_graphrag_api/evaluation/structured_evaluators.py
  backend/src/requirements_graphrag_api/prompts/definitions.py
  backend/tests/test_core/test_text2cypher.py
Due: ruff-check, ruff-format

feat: sync schema with graphrag-api-db — add Organization, Outcome, 4 relationship types
  backend/src/requirements_graphrag_api/core/retrieval.py
  backend/src/requirements_graphrag_api/evaluation/constants.py
  backend/src/requirements_graphrag_api/prompts/definitions.py
Due: ruff-check, ruff-format

feat: Python 3.13 + ty migration — toolchain alignment (Phase 2)
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/evaluation.yml
  .github/workflows/lighthouse.yml
  .github/workflows/prompt-sync-check.yml
  backend/pyproject.toml
  backend/uv.lock
Due: none

fix: remove unnecessary default type arguments for Python 3.13 (UP043)
  backend/src/requirements_graphrag_api/core/agentic/checkpoints.py
  backend/src/requirements_graphrag_api/core/agentic/streaming.py
  backend/tests/conftest.py
  backend/tests/test_observability.py
Due: ruff-check, ruff-format

feat: Python 3.13 + ty migration (Phase 2) (#214)
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/evaluation.yml
  .github/workflows/lighthouse.yml
  .github/workflows/prompt-sync-check.yml
  backend/pyproject.toml
  backend/src/requirements_graphrag_api/core/agentic/checkpoints.py
  backend/src/requirements_graphrag_api/core/agentic/streaming.py
  backend/tests/conftest.py
  backend/tests/test_observability.py
  backend/uv.lock
Due: ruff-check, ruff-format

fix(docker): upgrade base image to python:3.13-slim
  backend/Dockerfile
Due: none

feat: structlog core migration + fix flaky middleware tests (#215)
  backend/pyproject.toml
  backend/src/requirements_graphrag_api/api.py
  backend/src/requirements_graphrag_api/config.py
  backend/src/requirements_graphrag_api/core/retrieval.py
  backend/src/requirements_graphrag_api/core/routing.py
  backend/src/requirements_graphrag_api/core/text2cypher.py
  backend/src/requirements_graphrag_api/middleware/rate_limit.py
  backend/src/requirements_graphrag_api/middleware/size_limit.py
  backend/src/requirements_graphrag_api/middleware/timeout.py
  backend/src/requirements_graphrag_api/middleware/tracing.py
  backend/src/requirements_graphrag_api/neo4j_client.py
  backend/src/requirements_graphrag_api/routes/chat.py
  backend/src/requirements_graphrag_api/routes/feedback.py
  backend/src/requirements_graphrag_api/routes/handlers.py
  backend/src/requirements_graphrag_api/routes/search.py
  backend/tests/conftest.py
  backend/tests/test_auth/test_middleware.py
  backend/tests/test_config.py
  backend/uv.lock
Due: ruff-check, ruff-format

docs: add project-level CLAUDE.md with conventions and patterns
  CLAUDE.md
Due: none

docs: exempt CLAUDE.md from Issue/Branch/PR ceremony
  CLAUDE.md
Due: none

feat(structlog): migrate evaluation, graph, and core utility modules
  backend/src/requirements_graphrag_api/core/agentic/checkpoints.py
  backend/src/requirements_graphrag_api/core/agentic/orchestrator.py
  backend/src/requirements_graphrag_api/core/agentic/streaming.py
  backend/src/requirements_graphrag_api/core/agentic/subgraphs/rag.py
  backend/src/requirements_graphrag_api/core/agentic/subgraphs/synthesis.py
  backend/src/requirements_graphrag_api/core/conversation.py
  backend/src/requirements_graphrag_api/core/definitions.py
  backend/src/requirements_graphrag_api/core/embeddings.py
  backend/src/requirements_graphrag_api/core/standards.py
  backend/src/requirements_graphrag_api/evaluation/conversational_evaluators.py
  backend/src/requirements_graphrag_api/evaluation/cost_analysis.py
  backend/src/requirements_graphrag_api/evaluation/golden_dataset.py
  backend/src/requirements_graphrag_api/evaluation/ragas_evaluators.py
  backend/src/requirements_graphrag_api/evaluation/regression.py
  backend/src/requirements_graphrag_api/graph.py
  backend/src/requirements_graphrag_api/prompts/catalog.py
Due: ruff-check, ruff-format

feat(structlog): migrate guardrails modules with named logger
  backend/src/requirements_graphrag_api/guardrails/events.py
  backend/src/requirements_graphrag_api/guardrails/hallucination.py
  backend/src/requirements_graphrag_api/guardrails/output_filter.py
  backend/src/requirements_graphrag_api/guardrails/pii_detection.py
  backend/src/requirements_graphrag_api/guardrails/toxicity.py
Due: ruff-check, ruff-format

feat(structlog): migrate auth modules with extra={} and named logger
  backend/src/requirements_graphrag_api/auth/audit.py
  backend/src/requirements_graphrag_api/auth/middleware.py
  backend/src/requirements_graphrag_api/auth/postgres_store.py
Due: ruff-check, ruff-format

feat(structlog): migrate observability, tests, remove stdlib bridge
  backend/src/requirements_graphrag_api/api.py
  backend/src/requirements_graphrag_api/observability.py
  backend/tests/test_guardrails/test_events.py
Due: ruff-check, ruff-format

docs: update CLAUDE.md logging section for completed structlog migration
  CLAUDE.md
Due: none

docs: add implementation plan reference to CLAUDE.md
  CLAUDE.md
Due: none

feat: add Dependabot config and dependency review CI job (Phase 3c)
  .github/dependabot.yml
  .github/workflows/ci.yml
  CLAUDE.md
Due: none

ci: add Dependabot auto-merge workflow for minor/patch updates
  .github/workflows/dependabot-auto-merge.yml
Due: none

feat: API hardening — response models, data quality fixes, FastAPI bump (#202)
  backend/pyproject.toml
  backend/src/requirements_graphrag_api/api.py
  backend/src/requirements_graphrag_api/core/retrieval.py
  backend/src/requirements_graphrag_api/routes/chat.py
  backend/src/requirements_graphrag_api/routes/definitions.py
  backend/src/requirements_graphrag_api/routes/health.py
  backend/src/requirements_graphrag_api/routes/schema.py
  backend/src/requirements_graphrag_api/routes/search.py
  backend/src/requirements_graphrag_api/routes/standards.py
  backend/uv.lock
Due: ruff-check, ruff-format

feat: integrate neo4j-graphrag HybridRetriever for combined vector+keyword search
  CLAUDE.md
  backend/src/requirements_graphrag_api/api.py
  backend/src/requirements_graphrag_api/config.py
  backend/src/requirements_graphrag_api/core/__init__.py
  backend/src/requirements_graphrag_api/core/agentic/orchestrator.py
  backend/src/requirements_graphrag_api/core/agentic/subgraphs/rag.py
  backend/src/requirements_graphrag_api/core/retrieval.py
  backend/src/requirements_graphrag_api/graph.py
  backend/src/requirements_graphrag_api/routes/chat.py
  backend/src/requirements_graphrag_api/routes/handlers.py
  backend/src/requirements_graphrag_api/routes/search.py
  backend/tests/test_core/test_retrieval.py
  backend/tests/test_routes/test_search.py
Due: ruff-check, ruff-format

feat: add community retrieval for thematic context (Phase 5b)
  CLAUDE.md
  backend/src/requirements_graphrag_api/api.py
  backend/src/requirements_graphrag_api/config.py
  backend/src/requirements_graphrag_api/core/agentic/orchestrator.py
  backend/src/requirements_graphrag_api/core/context.py
  backend/src/requirements_graphrag_api/core/retrieval.py
  backend/src/requirements_graphrag_api/graph.py
  backend/src/requirements_graphrag_api/prompts/definitions.py
  backend/src/requirements_graphrag_api/routes/chat.py
  backend/src/requirements_graphrag_api/routes/handlers.py
  backend/tests/test_core/test_context.py
  backend/tests/test_core/test_retrieval.py
  backend/tests/test_routes/test_chat.py
Due: ruff-check, ruff-format

docs: update CLAUDE.md post-Phase 5b completion
  CLAUDE.md
Due: none

docs: update CLAUDE.md post-Phase 5b completion (#244)
  CLAUDE.md
Due: none

Path conditions:
  ruff-check: any of: ^backend/ and \.py$
  ruff-format: any of: ^backend/ and \.py$
  validate-docs-placement: any of: ^docs/.*\.md$, but not: ^docs/internal/
