Repository arthurfantaci/requirements-graphrag-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, validate-docs-placement

ruff-check:
  name: ruff check
  entry: bash -c 'cd backend && uv run ruff check --fix "$@"' --
  language: system
  pass_filenames: false

ruff-format:
  name: ruff format
  entry: bash -c 'cd backend && uv run ruff format' --
  language: system
  pass_filenames: false

validate-docs-placement:
  name: validate docs placement
  entry: .claude/hooks/validate-docs-placement.sh
  language: script
  pass_filenames: false

Revert "fix(synthesis): renumber inline [Source N] markers to match citations footer (#354)"
  backend/src/requirements_graphrag_api/core/agentic/subgraphs/synthesis.py
  backend/tests/test_core/test_agentic/test_subgraphs.py
Due: ruff-check, ruff-format

Revert PR #354: synthesis [Source N] renumber broke source attribution (#356)
  backend/src/requirements_graphrag_api/core/agentic/subgraphs/synthesis.py
  backend/tests/test_core/test_agentic/test_subgraphs.py
Due: ruff-check, ruff-format

docs(spec): unified source attribution design
  docs/superpowers/specs/2026-05-23-unified-source-attribution-design.md
Due: validate-docs-placement

docs(spec): fix markdownlint diagnostics on unified source attribution spec
  docs/superpowers/specs/2026-05-23-unified-source-attribution-design.md
Due: validate-docs-placement

docs(plan): unified source attribution implementation plan
  docs/superpowers/plans/2026-05-23-unified-source-attribution.md
Due: validate-docs-placement

docs(plan): fix expected commit count in Task 4 Step 1
  docs/superpowers/plans/2026-05-23-unified-source-attribution.md
Due: validate-docs-placement

refactor(synthesis): remove redundant Sources footer from final answer
  backend/src/requirements_graphrag_api/core/agentic/subgraphs/synthesis.py
  backend/tests/test_core/test_agentic/test_subgraphs.py
Due: ruff-check, ruff-format

feat(ui): number Sources accordion rows with citation-style chips
  frontend/src/components/metadata/SourcesPanel.jsx
Due: none

feat(ui): show retrieved chunk excerpt on Sources row hover
  frontend/src/components/metadata/SourcesPanel.jsx
Due: none

feat: unify source attribution — accordion numbering + hover excerpts (#358)
  backend/src/requirements_graphrag_api/core/agentic/subgraphs/synthesis.py
  backend/tests/test_core/test_agentic/test_subgraphs.py
  docs/superpowers/plans/2026-05-23-unified-source-attribution.md
  docs/superpowers/specs/2026-05-23-unified-source-attribution-design.md
  frontend/src/components/metadata/SourcesPanel.jsx
Due: ruff-check, ruff-format, validate-docs-placement

fix(context): preserve Neo4j node label when glossary enriches an entity
  backend/src/requirements_graphrag_api/core/context.py
  backend/tests/test_core/test_context.py
Due: ruff-check, ruff-format

fix(context): preserve Neo4j node label when glossary enriches an entity (#361)
  backend/src/requirements_graphrag_api/core/context.py
  backend/tests/test_core/test_context.py
Due: ruff-check, ruff-format

fix(retrieval): filter SimpleKGPipeline scaffolding labels from Cypher type field
  backend/src/requirements_graphrag_api/core/retrieval.py
  backend/tests/test_core/test_retrieval.py
Due: ruff-check, ruff-format

test(retrieval): cover labels(related)[0] pattern in scaffolding-label regression
  backend/tests/test_core/test_retrieval.py
Due: ruff-check, ruff-format

fix(retrieval): filter SimpleKGPipeline scaffolding labels — purple Concept badges (and others) now render in UI (#363)
  backend/src/requirements_graphrag_api/core/retrieval.py
  backend/tests/test_core/test_retrieval.py
Due: ruff-check, ruff-format

feat(ui): extend EntityBadges palette for 8 additional Neo4j domain types
  frontend/src/components/metadata/EntityBadges.jsx
Due: none

feat(ui): extend EntityBadges palette for 8 additional Neo4j domain types (#365)
  frontend/src/components/metadata/EntityBadges.jsx
Due: none

chore(tooling): wire Playwright CLI + MCP for cloud/remote sessions
  .claude/skills/playwright-cli/SKILL.md
  .claude/skills/playwright-cli/references/element-attributes.md
  .claude/skills/playwright-cli/references/playwright-tests.md
  .claude/skills/playwright-cli/references/request-mocking.md
  .claude/skills/playwright-cli/references/running-code.md
  .claude/skills/playwright-cli/references/session-management.md
  .claude/skills/playwright-cli/references/spec-driven-testing.md
  .claude/skills/playwright-cli/references/storage-state.md
  .claude/skills/playwright-cli/references/test-generation.md
  .claude/skills/playwright-cli/references/tracing.md
  .claude/skills/playwright-cli/references/video-recording.md
  .gitignore
  .mcp.json
  CLAUDE.md
Due: none

docs(claude.md): formalize tooling-only direct-push carve-out on main
  CLAUDE.md
Due: none

fix: sanitize LLM provider errors before they reach end users
  backend/src/requirements_graphrag_api/core/agentic/streaming.py
  backend/src/requirements_graphrag_api/core/agentic/subgraphs/rag.py
  backend/src/requirements_graphrag_api/core/errors.py
  backend/src/requirements_graphrag_api/core/routing.py
  backend/src/requirements_graphrag_api/core/text2cypher.py
  backend/tests/test_core/test_agentic/test_streaming_safety.py
  backend/tests/test_core/test_errors.py
  backend/tests/test_core/test_routing.py
  backend/tests/test_core/test_text2cypher.py
Due: ruff-check, ruff-format

fix(routing): retry OpenAI rate-limits in classify_intent before fallback
  backend/src/requirements_graphrag_api/core/routing.py
  backend/tests/test_core/test_routing.py
Due: ruff-check, ruff-format

docs(claude.md): codify LLM provider-error sanitization convention
  CLAUDE.md
Due: none

text2cypher: teach schema-introspection (keys(n)) pattern for 'attributes of X' questions
  backend/src/requirements_graphrag_api/prompts/definitions.py
  backend/tests/test_core/test_text2cypher.py
Due: ruff-check, ruff-format

chore: remove redundant local memory-hygiene skill (use global)
  .claude/skills/memory-hygiene/SKILL.md
Due: none

chore: remove redundant local memory-hygiene skill (use global) (#384)
  .claude/skills/memory-hygiene/SKILL.md
Due: none

fix(observability): add X-Tenant-Id header to LangSmith OTLP exporter
  backend/src/requirements_graphrag_api/observability.py
  backend/tests/test_observability.py
Due: ruff-check, ruff-format

fix(observability): add X-Tenant-Id header to LangSmith OTLP exporter (#385)
  backend/src/requirements_graphrag_api/observability.py
  backend/tests/test_observability.py
Due: ruff-check, ruff-format

chore(skills): commit session-handoff + memory-hygiene to repo for cross-surface availability
  .claude/skills/memory-hygiene/SKILL.md
  .claude/skills/session-handoff/SKILL.md
Due: none

Path conditions:
  ruff-check: any of: ^backend/ and \.py$
  ruff-format: any of: ^backend/ and \.py$
  validate-docs-placement: any of: ^docs/.*\.md$, but not: ^docs/internal/
